body{
    background-color: rgb(14, 12, 134);
    font-family: 'Open Sans', sans-serif;
}
#central{
    margin: 0 auto;
    text-align: center;
}

#graficos{
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    margin-right: 20px;
    padding: 10px;
    text-align: center;
    float:right;
    width:450px;
    
}

#casillero{
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 450px;

}

#info{  
    background-color: white;
    border-radius: 10px;
    margin-left: 20px;
    float: left;
    margin: 20px;
    padding: 10px;
    text-align: center;
    width: 450px;
}

#nacional{
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 450px;
}